* {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
html, body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  padding: 0px;
}

.container-fluid .jumbotron {
  padding: 0px;
  border-radius: 0px;
  padding: 7px 0px 7px 0px;
  background-color: #2c3e50;
  color: #FFF;
}

.header-block {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

#large-bluemix-logo{
  width: 8vw;
  display: inline-block;
  margin: 0px 10px 0px 8px;
  padding: 3px 0px;
}

#large-header-title {
  display: inline;
  vertical-align: middle;
  margin: 0px;
  font-size: 5vw;
  font-weight: normal;
}

#small-bluemix-logo{
  width: 8vw;
  display: inline-block;
  margin: 0px 10px 0px 8px;
}

#small-header-title {
  display: inline;
  vertical-align: middle;
  margin: 0px;
  font-size: 7vw;
  font-weight: normal;
}

#description {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center
  padding: 0px;
}

#description p {
  font-size: 24px;
  margin-bottom: 0px;
}

#phoneNum {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
}

#btn-row {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center
}

#reload-btn{
  margin: auto;
  display: block;
  background-color: #5596E6;
  width: 70%;
  min-width: 160px;
  margin: 10px 0px;
  border-radius: 0px;
}

.center-wrapper{
  margin: auto;
  max-width: 1024px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center
}

#email-list {
  list-style-type: none;
  margin-bottom: 0px;
}

ul li {
  display: inline-block;
}

ul li p {
  position: absolute;
  font-size: 18px;
  display: inline;
  margin-top: 256px;
  margin-left: -285px;
}

ul li p span {
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 8px;
}

ul li img {
  float: left;
  border: 5px solid #fff;
  width: 300px;
  height: 300px;
  padding: 5px;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

ul li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

#errors-row {
  display: none;
}

.boxed {
  display: block;
  border: 1px solid #2c3e50;
  padding: 0px 15px;
  margin-bottom: 15px;
}

legend {
  font-size: 22px;
  max-width: 155px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0px;
  border:none;
}

.errorLabel {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

#error-list {
  list-style-type: none;
  padding-left: 0px;
}

.errorField {
font-size: 15px;
}

.footer{
  background-color: #2c3e50;
  width: 100%;
  height: 50px;
  color: white;
}

.push {
  height: 50px;
  clear: both;
}

.credit{
  text-align: center;
  padding-top: 14px;
}

.credit a {
  color: #FFF;
}

.credit a:hover {
  color: #FFF;
}
